<!Doctype html>
<html lang="en">
<head>

  <title>Prajjwak Rohilla</title>

 <meta charset="utf-8"> 
 <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{url_for('static',filename='tod.css')}}">

<script src="jquery-3.2.1.min.js"></script>


</head>
<body>
<div id="particles-js"></div>

<center class="new5">Air Quality estimation based on image analysis</center>
<div class="new1">
<!--<form class="forum" >-->
<p class="new2">enter your image</p>
    
<!--<input type="text" class="in" onkeyup="check()" onblur="check2()"  id="inpu">
    <button  class="but" onclick="conf()" >Upload</button>
    -->
 <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input class="in" type = "file" name = "file" />
         <input class="but" type = "submit"/>
      </form>
    
   
    
    
    <p class="new2">Air quality index according to linear regression is {{p}}</p>
    <p class="new2">Air quality according to decision tree is {{st}}</p>
    
    
</div>








<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script type="text/javascript">

    
   
 
    

particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 150,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 2,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 10
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.9,
      "random": false,
      "anim": {
        "enable":true,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 5,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable":true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.1,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 4,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "repulse"
      },
      "onclick": {
        "enable": true,
        "mode": "bubble"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 0.4
        }
      },
      "bubble": {
        "distance": 400,
        "size": 12,
        "duration": 2,
        "opacity": 0.5,
        "speed": 3,
         
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});



</script>

</body>
</html>